<div class="page-header">
  <h2>About Pokémon Glazed Rebooted</h2>
</div>
<p>
  Pokémon Glazed was an unexpected success, and ultimately became my proudest
  achievement so far. However, despite the success of Pokémon Glazed, there were
  still some flaws in the game. There are plenty of bugs, which result from side
  effects of the original code. Additionally, there are plenty of problems which
  were my own fault, due to my carelessness and desire to push out a product
  quickly. Parts of the story could be done better, the level curve was off-putting,
  and mechanics were introduced that should have been expanded upon.
</p>
<p>
  Other problems were the result of hardware and software limitations. I could
  not allow trading or battling between Glazed players. I couldn't connect to
  the internet either, so I could not distribute events. Because much of the
  code in Pokémon Emerald is still unexplored, I was limited to using only the
  functionality present in the original game.
</p>
<p>
  In the years since Pokémon Glazed was released, I have gone into Computer Science
  as a profession, and graduated. I wondered, why couldn't I reprogram Glazed from
  the ground up? I would have ample opportunity to make Glazed match my original
  vision for the game.
</p>
<div class="page-header">
  <h3>The Result</h3>
</div>
<p>
  The result is an improved verion of Pokémon Glazed, with all functionality of
  the game under my control. All Pokémon from the first five generations, and
  all moves and abilities from the first six generations are present, with the
  ability to add more when needed. Several smaller changes in-game are present 
  as well. Graphics have been tweaked, and the plot has been modified to 
  (hopefully) be more engaging.
</p>
<p>
  Online functionality is also now present. Your copy of Pokémon Glazed can now
  connect to the Glazed website, where you can send your in-game stats to be
  collected and shown online. These stats include your current location in-game, 
  any badges you have collected, Pokédex evaluation, and win streaks. You may
  also store Pokémon on the Glazed website, which can be viewed and evaluated
  by your peers, and used in battles or trades.
</p>
<p>
  In addition to sending your stats to the Glazed Website, you can also download
  various enhancements to your game, such as Pokégear+ backgrounds, box wallpapers,
  special trainers, or event items and Pokémon.
</p>
<p>Begin your new adventure in Tunod today!</p>
<div class="page-header">
  <h2>About Me</h2>
</div>
<p>
  My name is Lucbui. I am 24 years old, and currently live in the state of Louisiana
  in the United States. My name is an abbreviation of "LucarioBuizelFurret", which
  has been my handle since I became part of the community. As a side note, because "Lucbui"
  is a shortening of "LucarioBuizel", it is pronounced as one would pronounce the first
  syllables of "Lucario" and "Buizel": "Luke-Bwee".
</p>
<p>
  I started programming Pokémon Glazed in my Junior year of high school, in late 2010
  This version, and several other iterations, eventually were abandoned as no good.
  Eventually, I created a project I was satisfied with, and released Glazed during my 
  freshman year of college, in late 2012, and updated over the course of the next
  three years, with the final version released in late 2015.
</p>
<p>
  Shortly after the release
  of Glazed, I decided to switch from a Mechanical Engineering major to a Computer Science
  major, and graduated in 2016. I consider Glazed as taking a pivotal role in the direction
  of my life; It has introduced me to programming, which is now my passion. In order
  to commemorate what I consider to be very important, I have gotten a tattoo of Porygon-Z
  on my shoulder, which both represents my love of computers and my appreciation to the
  ROM Hacking community, since Porygon-Z is a computer program that was "hacked".
</p>
<p>
  I now live in Louisiana, having just moved here recently in order to start my first job
  as a programmer associate. I am creating this website in order to sharpen my skills in
  Angular2 and JavaScript; It will probably never exist. I hope to use this as a stepping-off
  point to creating my own unique games casually, rather than based on existing games.
</p>
<div class="page-header">
  <h2>About Glazed</h2>
</div>
<p>
  The name of Glazed came from the fact that the original
  region was to be shaped like a doughnut, with the towns and cities on the perimiter, and
  the Pokémon League on an island in the central sea. Because of this donut shape, Glazed
  became the working title, and stuck long after this region was abandoned. This is also
  the reasoning behind the Tunod region's name, being the word "Donut" backwards.
</p>
<p>
  During the course of development on the final version of Glazed, The goal went from
  the creation of a harder game to making a game as close to something GameFreak would
  create in a Pokémon game geared toward teenagers. Profanity was limited, and the
  player retains the role of silent protaginst, but themes that are generally
  considered "not for kids" were sprinkled in as well. I also wanted to add some nuances
  in the game, which requires players to draw their own conclusions about what
  occurs behind the scenes.
</p>
<p>
  The universe of Glazed is set in somewhat a combination of the original game's universe,
  the anime universe, and the manga universe, with parts of my own addition occuring. It
  also takes place five years after the events of Generation II. This
  is most evident in the Johto portion of the game, where events from Generation II
  are referred to. Clair, the Blackthorn Gym Leader, uses a shiny Druddigon, in reference
  to the Generation V anime, and Kris is based on her manga counterpart.
</p>
<p>
  After Glazed's initial release in late 2012, it was slow to pick up, and only became
  popular after the release of a 20 minute playthrough on YouTube, which highly recommended
  the game. MunchingOrange's playthrough of the game also dramatically boosted the
  popularity of the game, ultimately securing it several of PokéCommunity's ROM Hacking
  awards, with Hack of the Year being won in 2014.
</p>
<p>
  In 2015, I entertained the notion of creating a sequal to Pokémon Glazed,
  to be titled Pokémon Sprinkles, and taking place 30 years before Glazed. This
  story would have delved into the history and motivations of the Scarfed Pikachu.
  This project was ultimately scrapped, with many portions of the new plot being
  brought over into this reboot of Glazed.
</p>
<p>
  The future of Glazed lies with this final game, which I will keep updated until I no
  longer need to. Thank you to everyone who supported Pokémon Glazed during its inital
  run, and who is supporting the Pokémon Glazed reboot.
</p>