<div *ngIf="!prof.getParent().user">
  <img src="assets/loading.gif" alt="loading" class="img-responsive center-block" width="50" height="50">
</div>
<div *ngIf="prof.getParent().user && prof.getParent().user.pokemon && prof.getParent().user.pokemon.length > 0">
  <app-pkmnfilter></app-pkmnfilter>
  <div *ngFor="let pkmn of prof.getParent().user.pokemon">
    <app-pkmn [pkmn]="pkmn"></app-pkmn>
  </div>
</div>
<div *ngIf="prof.getParent().user && (!prof.getParent().user.pokemon || prof.getParent().user.pokemon.length == 0)">
  <div class="alert alert-info">
    <p class="text-center">No Pokémon here!{{ prof.getParent().canedit ? ' To add a Pokémon, connect online with your PokéGear+.' : '' }}</p>
  </div>
</div>
