 <div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-2 text-left">
        <a *ngIf="index - 1 >= 0" [href]="'/user/' + user?.username + '/pkmn/' + user?.pokemon[index - 1]._id">
          {{ user?.pokemon[index-1].nickname || user?.pokemon[index-1].species }}
        </a>
      </div>
      <div class="col-xs-8 text-center">
        <a *ngIf="user" [href]="'/user/' + user?.username">
          Return to <span class="text-capitalize">{{ user?.username }}'s</span> profile
        </a>
      </div>
      <div class="col-xs-2 text-right">
        <a *ngIf="index + 1 < (user?.pokemon.length || 0)" [href]="'/user/' + user?.username + '/pkmn/' + user?.pokemon[index + 1]._id">
          {{ user?.pokemon[index+1].nickname || user?.pokemon[index+1].species }}
        </a>
      </div>
    </div>
  </div>
 </div>
<div class="col-sm-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-capitalize">
        {{ pkmn?.nickname }}
        <small class="text-capitalize">{{ pkmn?.nickname.toLowerCase() == pkmn?.species.toLowerCase() ? '' : pkmn?.species}}</small>
      </h3>
    </div>
    <div class="list-group-item">
      <img *ngIf="pkmn" [src]="'/assets/species/big/' + pkmn?.species.toLowerCase() + (pkmn.shiny ? '-shiny' : '') + (pkmn.form ? ('-' + pkmn.form) : '') + '.png'" width="100%" height="100%">
    </div>
    <div class="list-group-item">
      <p class="text-center">
        Level {{ pkmn?.level || 'Unknown' }}<br>
        <small *ngIf="pkmn?.exp" class="text-muted">{{ comma(pkmn.exp) }} EXP</small>
      </p>
    </div>
  </div>
</div>
<div class="col-sm-8">
  <tabset type="pills">
    <tab heading="Stats">
      <br>
      <div class="container-fluid">
        <div class="row">
          <label class="col-sm-2 col-md-1">HP:</label>
          <template #hptemp><span [innerHtml]="'Lowest Possible: ' + calculateLowestHP() + '<br>Highest Possible: ' + calculateHighestHP()"></span></template>
          <progressbar class="col-sm-10 col-md-11" [value]="pkmn?.stats.hp - calculateLowestHP()" [max]="calculateHighestHP() - calculateLowestHP()"
          [type]="getThreshold(pkmn?.stats.hp - calculateLowestHP(), calculateHighestHP() - calculateLowestHP(), [0.33, 0.66, 1.0], ['danger', 'warning', 'success'], 'success')"
          [tooltip]="hptemp">
            {{ pkmn?.stats.hp }}
          </progressbar>
        </div>
        <div class="row" *ngFor="let s of stats">
          <label *ngIf="s.abbr != 'HP'" class="col-sm-2 col-md-1" [tooltip]="s.name">{{ s.abbr }}:</label>
          <template #bartemp><span [innerHtml]="'Lowest Possible: ' + calculateLowest(s.json) + '<br>Highest Possible: ' + calculateHighest(s.json)"></span></template>
          <progressbar *ngIf="s.abbr != 'HP'" class="col-sm-10 col-md-11" [value]="pkmn?.stats[s.json] - calculateLowest(s.json)" [max]="calculateHighest(s.json) - calculateLowest(s.json)"
          [type]="getThreshold(pkmn?.stats[s.json] - calculateLowest(s.json), calculateHighest(s.json) - calculateLowest(s.json), [0.33, 0.66, 1.0], ['danger', 'warning', 'success'], 'success')"
          [tooltip]="bartemp">
            {{ pkmn?.stats[s.json] }}
          </progressbar>
        </div>
      </div>
    </tab>
    <tab heading="EVs">
      <br>
      <div class="container-fluid">
        <div class="row" *ngFor="let s of stats">
          <label class="col-sm-2 col-md-1" [tooltip]="s.json == 'hp' ? '' : s.name">{{ s.abbr }}:</label>
          <progressbar class="col-sm-10 col-md-11" [value]="pkmn?.evs ? pkmn.evs[s.json] : '0'" [max]="255"
          [type]="getThreshold(pkmn?.evs ? pkmn.evs[s.json] : 0, 255, [0.33, 0.66, 1.0], ['danger', 'warning', 'success'], 'success')">
            {{ pkmn?.evs ? pkmn.evs[s.json] : '0' }}
          </progressbar>
        </div>
        <div class="row">
          <label class="col-sm-2 col-md-1">Total:</label>
          <progressbar class="col-sm-10 col-md-11" [value]="sumEVs()" [max]="510">{{ sumEVs() }}</progressbar>
        </div>
      </div>
    </tab>
    <tab heading="IVs">
      <br>
      <div class="container-fluid">
        <div class="row" *ngFor="let s of stats">
          <label class="col-sm-2 col-md-1" [tooltip]="s.json == 'hp' ? '' : s.name">{{ s.abbr }}:</label>
          <progressbar class="col-sm-10 col-md-11" [value]="pkmn?.ivs ? pkmn.ivs[s.json] : '0'" [max]="31"
          [type]="getThreshold(pkmn?.ivs ? pkmn.ivs[s.json] : 0, 31, [0.33, 0.66, 1.0], ['danger', 'warning', 'success'], 'success')">
            {{ pkmn?.ivs ? pkmn.ivs[s.json] : '0' }}
          </progressbar>
        </div>
      </div>
    </tab>
  </tabset>
</div>
