<div class="media" style="padding:10px" (mouseenter)="mouse = true" (mouseleave)="mouse = false" [ngClass]="mouse ? 'bg-success' : ''">
  <div class="media-left">
    <img class="media-object" src="{{ game.gender ? '/assets/boy.png' : '/assets/girl.png' }}" alt="{{ game.gender ? 'boy' : 'girl' }}" width="64" height="64"/>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ game.name || "Player" }} 
      <small>
        {{ game.location || "Unknown" }} 
        <span [tooltip]="game.date | date">({{ game.date ? (game.date | amTimeAgo) : "Some time ago"}})</span>
      </small>
    </h4>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label>Badges:</label>
          <span *ngIf="game.badges && game.badges.length > 0">
            <span *ngFor="let badge of game.badges">
              <img src="/assets/{{ badge }}.png" alt="{{ badge }}" width="24" height="24" [tooltip]="badge.slice(0, 1).toUpperCase() + badge.slice(1) + ' Badge'"/>
            </span>
          </span>
          <span *ngIf="!game.badges || game.badges.length == 0">
            None
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Seen:</label> {{ game.seen || 0 }}
        </div>
        <div class="col-sm-3">
          <label>Caught:</label> {{ game.caught || 0 }}
        </div>
      </div>
    </div>
  </div>
</div>