<div class="media" style="padding:10px" (mouseenter)="mouse = true" (mouseleave)="mouse = false" [ngClass]="mouse ? 'bg-success' : ''">
  <div class="media-left">
    <img class="media-object" src="{{ game.gender ? '/assets/boy.png' : '/assets/girl.png' }}" alt="{{ game.gender ? 'boy' : 'girl' }}" width="64" height="64"/>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
      {{ game.name || "Player" }} 
      <small>
        {{ game.location || "Unknown" }} ({{ (game.date | amTimeAgo) || "Some time ago"}})
      </small>
      <button *ngIf="prof.getParent().canedit" type="button" class="close" (click)="delete()"><span class="glyphicon glyphicon-trash"></span></button>
    </h4>
    <small *ngIf="game.date">game.date | date</small>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <label>Badges:</label>
          <span *ngIf="game.badges && game.badges.length > 0">
            <span *ngFor="let badge of game.badges">
              <img src="/assets/{{ badge }}.png" alt="{{ badge }}" width="24" height="24"/>
            </span>
          </span>
          <span *ngIf="!game.badges || game.badges.length == 0">
            None
          </span>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <label>Seen:</label> {{ game.seen || 0 }}
        </div>
        <div class="col-sm-3">
          <label>Caught:</label> {{ game.caught || 0 }}
        </div>
      </div>
    </div>
  </div>
</div>