<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-capitalize">
        <span class="align-middle" *ngIf="!canedit" class="glyphicon glyphicon-certificate" [ngClass]="getStatusClass()" [tooltip]="getStatus()"></span>
        <span class="align-middle">{{ user?.username }}</span>
      </h3>
    </div>
    <div class="list-group-item">
      <label class="list-group-item-text">Joined</label>
      <p [ngClass]="user?.regdate ? '' : 'text-muted'">{{ (user?.regdate | date) || 'Unknown' }}</p>
      <label class="list-group-item-text">Last Login</label>
      <p [ngClass]="user?.logindate ? '' : 'text-muted'">{{ (user?.logindate | date) || 'Unknown' }}</p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">About Me</h4>
      <p *ngIf="!edit" class="list-group-item-text" [ngClass]="user?.bio ? '' : 'text-muted'">{{ user?.bio || 'No Bio Yet' }}</p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Location</h4>
      <p *ngIf="!edit" class="list-group-item-text" [ngClass]="user?.location ? '' : 'text-muted'">{{ user?.location || 'Unknown' }}</p>
    </div>
    <div class="list-group-item">
      <h4 class="list-group-item-heading">Favorites</h4>
      <label class="list-group-item-text">Pokémon</label>
        <p *ngIf="!edit" [ngClass]="user?.fav?.pkmn ? '' : 'text-muted'">{{ user?.fav?.pkmn || 'Unknown' }}</p>
      <label class="list-group-item-text">Move</label>
        <p *ngIf="!edit" [ngClass]="user?.fav?.move ? '' : 'text-muted'">{{ user?.fav?.move || 'Unknown' }}</p>
      <label class="list-group-item-text">Ability</label>
        <p *ngIf="!edit" [ngClass]="user?.fav?.ability ? '' : 'text-muted'">{{ user?.fav?.ability || 'Unknown' }}</p>
      <label class="list-group-item-text">Nature</label>
        <p *ngIf="!edit" [ngClass]="user?.fav?.nature ? '' : 'text-muted'">{{ user?.fav?.nature || 'Unknown' }}</p>
      <label class="list-group-item-text">Game</label>
        <p *ngIf="!edit" [ngClass]="user?.fav?.game ? '' : 'text-muted'">{{ user?.fav?.game || 'Unknown' }}</p>
    </div>
  </div>
</div>
<div class="col-md-8" role="navigation">
  <ul class="nav nav-tabs">
    <li ><a [routerLink]="['games']">Games</a></li>
    <li ><a [routerLink]="['pkmn']">Pokémon</a></li>
  </ul>
  <router-outlet></router-outlet>
</div>