<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="text-capitalize">
        {{ user?.username }}
      </h3>
    </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Joined</h4>
        <p class="list-group-item-text" [ngClass]="user?.regdate ? '' : 'text-muted'">{{ (user?.regdate | date) || 'Unknown' }}</p>
      </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
      <div class="list-group-item">
        <h4 class="list-group-item-heading">About Me</h4>
        <p *ngIf="!edit" class="list-group-item-text" [ngClass]="user?.bio ? '' : 'text-muted'">{{ user?.bio || 'No Bio Yet' }}</p>
        <textarea *ngIf="edit" rows="4" maxlength="150" [(ngModel)]="aboutme" class="form-control" tabindex="1" formControlName="bio">{{ user?.bio || '' }}</textarea>
        <p *ngIf="edit" [ngClass]="aboutme.length < 100 ? 'text-muted' : aboutme.length < 150 ? 'text-warning' : 'text-danger'">{{ aboutme?.length || '0' }}/150</p>
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Location</h4>
        <p *ngIf="!edit" class="list-group-item-text" [ngClass]="user?.location ? '' : 'text-muted'">{{ user?.location || 'Unknown' }}</p>
        <input *ngIf="edit" type="text" class="form-control" tabindex="2" maxlength="25" formControlName="location">
      </div>
      <div class="list-group-item">
        <h4 class="list-group-item-heading">Favorites</h4>
        <label class="list-group-item-text">Pokémon</label>
          <p *ngIf="!edit" [ngClass]="user?.fav?.pkmn ? '' : 'text-muted'">{{ user?.fav?.pkmn || 'Unknown' }}</p>
          <input *ngIf="edit" type="text" class="form-control" tabindex="3" maxlength = "11" formControlName="pkmn">
        <label class="list-group-item-text">Move</label>
          <p *ngIf="!edit" [ngClass]="user?.fav?.move ? '' : 'text-muted'">{{ user?.fav?.move || 'Unknown' }}</p>
          <input *ngIf="edit" type="text" class="form-control" tabindex="4" maxlength = "25" formControlName="move">
        <label class="list-group-item-text">Ability</label>
          <p *ngIf="!edit" [ngClass]="user?.fav?.ability ? '' : 'text-muted'">{{ user?.fav?.ability || 'Unknown' }}</p>
          <input *ngIf="edit" type="text" class="form-control" tabindex="5" maxlength = "15" formControlName="ability">
        <label class="list-group-item-text">Nature</label>
          <p *ngIf="!edit" [ngClass]="user?.fav?.nature ? '' : 'text-muted'">{{ user?.fav?.nature || 'Unknown' }}</p>
          <input *ngIf="edit" type="text" class="form-control" tabindex="6" maxlength = "10" formControlName="nature">
        <label class="list-group-item-text">Game</label>
          <p *ngIf="!edit" [ngClass]="user?.fav?.game ? '' : 'text-muted'">{{ user?.fav?.game || 'Unknown' }}</p>
          <input *ngIf="edit" type="text" class="form-control" tabindex="7" maxlength = "50" formControlName="game">
      </div>
      <div *ngIf="canedit" class="list-group-item">
        <button *ngIf="!edit" type="button" class="btn btn-success" (click)="setEdit()">Edit <span class="glyphicon glyphicon-pencil"></span></button>
        <a *ngIf="!edit" class="btn btn-success navbar-btn" routerLink="../user/{{ user?.username }}">View Profile</a>
        <button *ngIf="edit" type="submit" class="btn btn-success">Save</button>
        <button *ngIf="edit" type="button" class="btn btn-outline-success" (click)="onCancel()">Cancel</button>
      </div>
    </form>
  </div>
</div>
<div class="col-md-8" role="navigation">
  <ul class="nav nav-tabs">
    <li role="presentation" class="nav-link" [ngClass]="tab == 0 ? 'active' : ''"><a (click)="tab = 0">Games</a></li>
    <li role="presentation" class="nav-link" [ngClass]="tab == 1 ? 'active' : ''"><a (click)="tab = 1">Pokémon</a></li>
  </ul>
  <app-games *ngIf="tab == 0"></app-games>
  <app-pokemon *ngIf="tab == 1"></app-pokemon>
</div>
<div class="modal fade" bsModal #loginModal="bs-modal" [config]="{backdrop: 'static', show: true}">
  <app-login (close)="onModalCancel()" (submit)="onModalSubmit(userchange)"></app-login>
</div>