<div class="jumbotron">
  <h1>Pokémon Glazed</h1>
  <p>Rebooted, and back like never before.</p>
</div>
<div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/test.png" alt="Type: Null">
      <div class="caption">
        <h3>Explore Tunod</h3>
        <p>An updated version of the story you remember, complete with new graphics and new characters joining the original crew.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/test.png" alt="Type: Null">
      <div class="caption">
        <h3>Share your Progress</h3>
        <p>Upload your teams and in-game status online. Check your friend's progress and Pokémon, and rank on the leaderboard.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="../../assets/test.png" alt="Type: Null">
      <div class="caption">
        <h3>Connect Online</h3>
        <p>Negotiate a trade with your friends, download events to your copy of Glazed, or challenge others to a battle.</p>
      </div>
    </div>
  </div>
</div>
